@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: hsl(212, 45%, 89%);
  font-family: "Outfit", sans-serif;
  font-style: normal;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: min(80%, 320px);
  background-color: #fff;
  padding: 1em 1em 2.5em 1em;
  border-radius: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  box-shadow: 0px 25px 25px 0px rgba(0, 0, 0, 0.05);
}

.qr-code {
  width: 100%;
}

.qr-code img {
  width: 100%;
  border-radius: 10px;
}

h1 {
  color: #1f314f;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  margin-bottom: 1rem;
}

p {
  color: #68778d;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.2px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
